.containCard {
  width: 200px;
  height: auto;
  position: relative;

  &:hover {
    .containBtonLike {
      .btonNoFav {
        display: block;
      }
    }
  }
}

.containImagen {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  .imagenFondo {
    width: 100%;
    border-radius: 4px;

    user-select: none;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
    }
  }
}

.containLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  overflow: hidden;
}

@keyframes shine {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.containLoading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  animation: shine 2s infinite;
}

.containBtonLike {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.btonNoFav {
  display: none;
}

.containTitle {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--colorGray);
  }
}

@media screen and (max-width: 768px) {
  .containBtonLike {
    top: 5px;
    right: 5px;
  }
  .btonNoFav {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .containCard {
    width: 180px;
  }
  .containImagen {
    height: auto;
    .imagenFondo {
      height: auto;
      aspect-ratio: 2/3;
    }
  }
}
